@import "tailwindcss";

@theme {
  --font-serif: "Bricolage Grotesque", sans-serif;
  --font-sans: "Bricolage Grotesque", sans-serif;
  --color-primary: #3877AF;
  --color-primary-light: #D5E8F8;
  --color-dark: #333A49;
  --color-medium-blue: #9BCAEF;
  --color-off-white: #F7F9FC;
  --color-light-gray: #E8EDF2;
  --color-text-secondary: #6B7280;
  --color-hover-blue: #2D6193;
  --color-success: #10B981;
}
